[deps]
Documenter = "e30172f5-a6a5-5a46-863b-614d45cd2de4"
EvoTrees = "f6006082-12f8-11e9-0c9c-0d5d367ab1e5"
MLJBase = "a7f614a8-145f-11e9-1d2a-a57a1082229d"
MLJIteration = "614be32b-d00c-4edb-bd02-1eb411ab5e55"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
StatisticalMeasures = "a19d573c-0a75-4610-95b3-7071388c7541"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"

[compat]
Documenter = "0.27"
EvoTrees = "0.14.7, 0.15, 0.16"
MLJBase = "0.19, 0.20, 0.21, 1"
MLJIteration = "0.5, 0.6"
StatisticalMeasures = "0.1"
julia = "1.6"
